.commentContainer {
    padding: 1em;
    margin: 0 1em 1em 1em;
    min-width: 400px;
    max-width: 50%;
    max-height: 75px;
  
    display: flex;
    flex-direction: row ltr;
  
    border-width: 1px;
    border-color: black;
    border-style: solid; 
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
  }
  
.commentMessage {
  width: inherit;
  margin: 0 0 1em 0.1em;
  float: left;
  font-size: 12pt;
  text-align: left;
  direction: ltr;
  word-break: break-word;
}
  
.postTimeComment{
  margin-left: 78%;
  align-self: flex-end;
  float: right;
}