.commentContainer {
    padding: 1em;
    margin: 0 1em 1em 1em;
    min-width: 400px;
    max-width: 50%;
    max-height: min-content;
  
    display: flex;
    flex-direction: row ltr;
  
    border-width: 1px;
    border-color: black;
    border-style: solid; 
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
  }
  
.commentMessage {
  width: 77%;
  max-height: fit-content;
  margin: 0 0 1em 0.1em;
  float: left;
  font-size: 12pt;
  text-align: left;

  display: block;
  display: -webkit-box;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: scroll;

  direction: ltr;
  word-wrap: break-word;
}
  
.postTimeComment{
  margin-left: auto;
  align-self: flex-end;
  float: right;
}