.userCommentContainer {
  display: flex;
  align-items: flex-start;
  margin-right: 1em;
  max-width: 75px;
}
  
.commentProfilePic {
  width: 10%; 
  height: 10%;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  border: solid thin hotpink;
}
  
.userNameComment {
  margin-right: 1em;
  font-size: 12pt;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}