.userCommentContainer {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  max-width: 75px;
}
  
.commentProfilePic {
  width: 5%; 
  height: 5%;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
}
  
.userNameComment {
  margin-right: auto;
  font-size: 12pt;
  font-weight: bold;
}