.suggestionsContainer{
    display:none;
}
.suggestionsContainerOpen{
  display:block;
  width:100%;
  margin:0;

}
.container{
  width:100%;
  margin:0;
  padding:1em;
}
.input{
  width:90%;
  margin:0;
}
button{
  width:10%;
}
.suggestionsList,.suggestionsContainer,.suggestion{
  list-style-type: none;
  width:100%;
  text-align: left;
  margin:0;
  padding:0;
}
.suggestionsContainer{
  border:1px #333 solid;
  width:90%;
  border-radius: 0.3em;
}
.suggestion{
  padding: 0.2em;
}
.suggestion:hover {
  background-color: #0C7EAF;
  color: #fff;
}