@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.pageDMs {
  font-family: "Quicksand";
}

.message {
  text-align: left;
}

.dmsWelcome .welcomeText {
  font-size: 18px;
}

.dmItem {
  background-color: #6d706d;
  display: flex;
  border-bottom: 1px solid #ebe7fb;
  padding-bottom: 10px;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
}


.dmsSidebar {
  float: left;
  width: 25%;
  height: 75vh;
  background-color: #878d87;
  color: white;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  overflow: auto;
  border: 1px rgb(0, 0, 0) solid;
}

.dmsMessages {
  margin:auto;
  width: 60%;
  height: 65vh;
  background-color: rgba(189, 189, 189, 0.726);
  border-radius: 12px;
  overflow: auto;
}

.enterDM textarea {
  background-color: rgb(161, 161, 161);
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 2px;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.enterDM button {
  background-color: #b3b6b3;
  border: 1px black;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-align: center;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: -30px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 12px;
  transition-duration: 0.5s;
}

.selectedDm {
  background-color: #374237;
  font-size: 17px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.profilePic {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.welcomeText {
  display: inline-block;
}

.dmsProfilePic, .messageProfilePic {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: block;
  float: left;
  position: relative;
  top: 0.5em;
  margin-left: 1em;
}

.recipientName {
  width: 7em;
}
.messageContent{
  width: 20em;
  display: inline-block;
  padding: 0.3em 0;
}
.messageName{
  display:inline;
  font-weight: 600;

}
.messageDate{
  display: inline;
  margin-left: 0.5em;
  font-size: 0.8em;
  color: darkslategrey;
}
.messageMessage{
  margin-top: 0.2em;
}
.messageProfilePicDiv{
  height:100%;
  float:left;
  width: 4.5em;
}
