.message {
  text-align: left;
}

.dmItem {
  display: flex;
  padding: 10px 0px;
  cursor: pointer;
}

.dmsSidebar {
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
  height: 70vh;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  overflow: auto;
  background-color: white;
  border: 1px rgb(225, 225, 225) solid;
}

.dmMessageBox {
  border-color: rgb(225, 225, 225);
  resize: none;
  border-radius: 0;
  border-bottom-left-radius: 12px;
}

.messageBox {
  height: 5vh;
}

.dmMessageButton {
  border: 1px solid rgb(225, 225, 225);
  border-left: 0;
  border-radius: 0;
  border-bottom-right-radius: 12px;
}

.dmsMessages {
  padding: 0.5em;
  height: 65vh;
  background-color: white;
  border:1px rgb(225, 225, 225) solid;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: auto;
}

.selectedDm {
  background-color: #f6f6f6;
  /* background-color: #f6f6f6; */
  color: black;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.pic {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 1em;
  object-fit: cover;
}

.dmsProfilePic, .messageProfilePic {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-left: 1em;
  object-fit: cover;
}

.messageProfilePic {
  margin-top: 0.5em;
}

.recipientName {
  width: 8em;
}

.messageContent{
  width: 90%;
  display: inline-block;
  padding: 0.1em 0;
}

.messageName{
  display: inline;
  font-weight: 600;
}

.messageDate{
  display: inline;
  margin-left: 0.8em;
  font-size: 0.8em;
  color: darkslategrey;
}

.messageProfilePicDiv{
  height: 100%;
  float: left;
  width: 4.5em;
}
