.userCommentContainer {
  display: flex;
  max-width: 125px;
}
  
.commentProfilePic {
  width: 5%; 
  height: 5%;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
}
  
.nameComment {
  margin: 0 0.5em;
  font-size: 12pt;
  font-weight: bold;
}

.vidContainer {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}