.discussionExpandedContainer {
    max-width: 100%;
    max-height: 30em;

    display: flex;
    flex-direction: column;
}

.originalPostMessage {
    font-family: 'Trebuchet MS';
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    height: fit-content;

    float: left;
    font-size: 1.2em;
    text-align: left;
    word-break: break-word;
}

.expandedComment {
    min-width: 70% !important;
    max-width: 100% !important; 
    max-height: min-content;
}

.discussion-image {
    object-fit: contain;
}