/* Each component should have its own css file with the name as the component
   Note Css Styles of parent will apply to their child componentss
*/

.discussionContainer {
  padding: 1em;
  margin: 1em 1em 0 1em;
  min-width: 400px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  border-width: 1px;
  border-color: black;
  border-style: solid; 
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
}

.DiscussionMessage {
  width: inherit;
  margin: auto;
  margin-left: -0.5em;
  margin-bottom: 0.5em;
  float: left;
  font-size: 1.2em;
  text-align: left;
  word-break: break-word;
}

.postTime{
  margin-top: 1em;
  margin-left: auto;
  float: right;
}