/* Each component should have its own css file with the name as the component
   Note Css Styles of parent will apply to their child componentss
*/

.discussionContainer {
  position: relative;
  margin: 1em 1em 0 -2.5em;
  width: 98%;
  height: 150px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;

  border-width: 1px;
  border-color: black;
  border-style: solid; 
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
}

.userContainerDiscussion {
  position: absolute;
  top: 5%;
  left: 2%;
  /* height: 500px; */
}

.DiscussionMessage {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: fit-content;
  /* width: inherit;
  margin: auto;
  margin-left: -0.5em;
  margin-bottom: 0.5em;
  float: left; */
  position: absolute;
  top: 40%;
  left: 2%;
  font-size: 1.2em;
  text-align: left;
  word-break: break-word;
}

.postTime{
  position: absolute;  
  top: 0%;
  right: 0%;
  margin-top: 0.25em;
  margin-right: 0.5em;
}

.commentOnDiscussion {
  margin-left: -6em;
}