/* Each component should have its own css file with the name as the component
   Note Css Styles of parent will apply to their child componentss
*/

.forumContainer {
  padding: 1em;
  margin: auto;
  min-width: 400px;
  max-width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-width: 5px;
  border-color: hotpink;
  border-style: solid; 
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
}

.postInput {
  margin-top: 1em;
  display: flex;
  align-items: flex-end;
}

.postTextEntry {
  resize: none;
  font-size: 1.2em;
  color: black;
  width: 100%;
  border: solid hotpink;
}

.postButton {
  margin-left: 1em;
  height: 2em;
  width: 4em;

  font-size: 1.1em;
  font-weight: bold;
  color: black;

  border-color: crimson;
  border-radius: 20px;
  background-color: hotpink;
}

.postButton:hover {
  cursor: pointer;
  background-color: deeppink;
}

.discussions {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 6em;
}
